{% extends 'base/base.html' %}
{% load static %}

<title xmlns="http://www.w3.org/1999/html">{% block title %}Curso-django_01 Aperitivos{% endblock title %}</title>
<meta name="d   escription" content="{% block description %}Páginas com todos vídeos gratuitos{% endblock description %}">

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb-3">Lista de vídeos Aperitivos</h1>
                <ol>
                    {% for video in videos %}
                        <li><a href="{{video.get_absolute_url}}">{{ video.titulo | default:"Faltando Título" }}</a></li>
                    {% empty %}
                        <li>Não foi encontrado nenhum video de aperitivo</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock body %}

