{% extends 'base/base.html' %}
{% load static %}

<title xmlns="http://www.w3.org/1999/html">{% block title %}Curso-django_01 Aperitivo{% endblock title %}</title>
<meta name="description"
      content="{% block description %}Página com vídeo de como python é simples{% endblock description %}">

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-3">{{ video.titulo | default:"Faltando Título" }}</h1>
            <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}"></iframe>
<!--            <iframe ?h=a14e61ba65&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"-->
<!--                    width="640" height="480" frameborder="0"-->
<!--                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen-->
<!--                    title="Hello World Python.mp4"></iframe>-->
        </div>
    </div>
</div>
{% endblock body %}

