<footer class="main-footer mt 1 pt 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre em contato</h3>
                <address>
                    +55 61 99416-8282
                    <br/>
                    <a href="mailto:{{contato_email}}">{{contato_email}}</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Curso Django 01. Todos direitos reservados.
                </div>
            </div>
        </div>
    </div>
</footer>